body{
    background-color: beige;
}
h1{
    color:yellowgreen;
}
.para{
    color: blue;
    font-size: 25px;
}
/*class selector (class name)*/
.text-span{
    color: blueviolet;
    background-color: brown;
    padding: 5px;
    margin: 40px;
}
#name{
    color: rgb(255, 0, 0);
    background-color: blue;
    padding: 2px;
    border:none;
    cursor:pointer;/*it is for cursur to hand */
    margin: auto;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 20px;
    border: double;
}

